img{
  width: 300px;
}
#Article{
  width: 85%;
      margin: auto;
      position: fixed;
      top: 10;
      z-index: 100;
      left: 9%;
      background-color: lightgray;
}

#Article img{

margin: 3%;
width: 94%;
}

#Article p{
  margin: 3%;
}

.hidden{
  display: none;
}

.show{
  display: block;
}

.showFullPage{
  overflow: scroll;
}
