img{
  width: 98%;
}


.hidden{
  display: none;
}

.show{
  display: block;
}

.showFullPage{
  overflow: scroll;
}

#articlediv{
  height: 96%;
width: 87%;
position: fixed;
background-color: #21ABC0;
z-index: 100;
top: 2%;
right: 7%;
overflow-y: scroll;
padding: 14px;
}

#articleheader{
  text-transform: uppercase;
}

#articlecross{
  position: fixed;
right: 14%;
}
